### [11] Create table team(tid, country, totalmatch, win,loss). Insert 8 team detail.
### Create trigger to verify totalmatch is not 0. export data into csv file.
### Read file using reader object and print record with winning %age.

In [2]:
import sqlite3 as sq
import csv

#### Connect to the database

In [3]:
conn = sq.connect("D:/sqlite/dbms/cricket.db")
cur = conn.cursor()

### Create table "team"

In [6]:
cur.execute('''
    CREATE TABLE IF NOT EXISTS team (
        tid INTEGER PRIMARY KEY,
        country TEXT,
        totalmatch INTEGER,
        win INTEGER,
        loss INTEGER
    )
 ''')

In [7]:
conn.commit()

### Create trigger " check_totalmatch"

In [8]:
cur.execute('''
    CREATE TRIGGER IF NOT EXISTS check_totalmatch
    BEFORE INSERT ON team
    FOR EACH ROW
    BEGIN
        SELECT CASE
            WHEN NEW.totalmatch <= 0 THEN
                RAISE(ABORT, 'Total matches must be greater than 0')
        END;
    END;
''')

In [9]:
conn.commit()

### Insert data

In [10]:
team_data = [
    (1, 'India', 100, 60, 40),
    (2, 'Australia', 120, 70, 50),
    (3, 'England', 95, 50, 45),
    (4, 'Pakistan', 110, 55, 55),
    (5, 'South Africa', 90, 60, 30),
    (6, 'New Zealand', 85, 45, 40),
    (7, 'Sri Lanka', 95, 40, 55),
    (8, 'West Indies', 80, 30, 50)
]

### Execute the data

In [11]:
cur.executemany('INSERT INTO team (tid, country, totalmatch, win, loss) VALUES (?, ?, ?, ?, ?)', team_data)

In [12]:
conn.commit()

In [13]:
cur.execute('SELECT * FROM team')

In [14]:
rows = cur.fetchall()

### Print data

In [15]:
print(rows)

[(1, 'India', 100, 60, 40), (2, 'Australia', 120, 70, 50), (3, 'England', 95, 50, 45), (4, 'Pakistan', 110, 55, 55), (5, 'South Africa', 90, 60, 30), (6, 'New Zealand', 85, 45, 40), (7, 'Sri Lanka', 95, 40, 55), (8, 'West Indies', 80, 30, 50)]

### Export data to a csv file

In [16]:
with open("D:\\sqlite\\csv\\python1.txt","w", newline='') as f:
    writer = csv.writer(f)
    #header
    writer.writerow(['tid', 'country', 'totalmatch', 'win', 'loss'])  
    writer.writerows(rows)

### Read Data from CSV and Calculate Win Percentage

In [19]:
with open("D:\\sqlite\\csv\\python1.txt","r") as f:
    reader = csv.DictReader(f)
    print(f"{'Country':<15} {'Total Matches':<15} {'Wins':<10} {'Losses':<10} {'Win %':<10}")
    print("="*60)
    
    for row in reader:
        total_matches = int(row['totalmatch'])
        wins = int(row['win'])
        win_percentage = (wins / total_matches) * 100
        print(f"{row['country']:<15} {total_matches:<15} {wins:<10} {row['loss']:<10} {win_percentage:.2f}%")

Country         Total Matches   Wins       Losses     Win %
============================================================
India           100             60         40         60.00%
Australia       120             70         50         58.33%
England         95              50         45         52.63%
Pakistan        110             55         55         50.00%
South Africa    90              60         30         66.67%
New Zealand     85              45         40         52.94%
Sri Lanka       95              40         55         42.11%
West Indies     80              30         50         37.50%