###11.  Create table team(tid, country, totalmatch, win,loss). Insert 8 team detail. Create trigger to verify totalmatch is not 0. export data into csv file. Read file using reader object and print record with winning %age.

In [29]:
import sqlite3 as sq

In [30]:
con=sq.connect("C://7. sqlite3//sport.db")

In [31]:
cur=con.cursor()

In [32]:
a=("create table if not exists team72(tid primary key,country,totalmatch,win,loss)")

In [33]:
cur.execute(a)

In [38]:
cur.execute("create trigger if not exists team07 before insert\
    on team72\
    begin\
        select\
        case\
        when match is not 0 then raise (abort,'match is 0')\
        end;\
end;")

In [40]:
cur.execute("insert into team72 values(1,'india',500,240,260),(2,'pakistan',600,400,200),(3,'south afrika',400,250,150),(4,'australia',200,80,120),(5,'newzilend',100,900,100),(6,'sirilanka',200,120,20),(7,'bangladesh',300,170,130),(8,'afganisthan',300,150,150)")

OperationalError: no such column: match